
.container{
    width:100%;
    margin-top:20px;
}

#body2{
    width: 100%;
 
}

/*VIDEO*/

#video {
     align-items: left;
     padding-top:30px;
     padding-right:80px;
}

/*BIENVENUE*/
#bienvenue {
  padding-right:20px;
  padding-left:30px;

}

.responsive-table{
    text-align: justify;
}


td{
    text-align: justify;
}


/*FORMULAIRE*/
#form {
    float: right;
    border:2px solid grey;
    padding-top:30px;
    padding-bottom: 30px;  
}

.larger-block {
    min-width: 360px;
}

/*
@media only screen and (max-width : 992px) {
  #v {
    position: absolute;

  }
*/


@media only screen and (max-width : 600px) {
  #video #bienvenue #form{
    text-align:center;
  }
}

/*
tr{
    text-align: right;
    font-size: 5px;
    display:inline-block;
}
*/


/* FORMULAIRE */




/*;
img.displayed{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


#container{
    padding:10px;
    border: 1px solid black;
    margin: auto;
    height:500px;
}

#left-box{
    float:left;
    width: 45%;
    padding:20px;
    margin:10px;
    border: 1px solid black;
    background-color: #94A1E2;
    color: white;
    text-align: justify;
}

#right-box{
    float:right;
    width: 45%;
    padding:20px;
    margin:10px;
    border: 1px solid black;
    background-color: #94A1E2;
}

#form{
    background-color: #3878DB;
    padding:20px;
    margin:10px;
    border: 1px solid black;
}
*/