/*FOOTER*/

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
  background-color: green;
}


footer.page-footer .footer-copyright {
  font-weight: 300;
  background-color: darkgreen; 
 }

 .row .col.s12 {

 }

/* label color */

.input-field label {
     color: #FFFFFF;

}


input[type="email"]{
  width:70%;
}


@media only screen and (max-width : 600px) {
  .facebook {
    text-align: center;
  }
  .facebook img{
    width: 800px;
  }
}